/* Variables start */
:root {
	--white: hsl(0, 0%, 100%);
	--lightGray: hsl(212, 45%, 89%);
	--grayishBlue: hsl(220, 15%, 55%);
	--darkBlue: hsl(218, 44%, 22%);
	--attribution: hsl(228, 45%, 44%);
}
/* Variables end */

/* CSS reset start*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}
/* CSS reset end */

body {
	font-family: "Outfit", sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	background-color: var(--lightGray);
}

.main {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	width: 32rem;
	height: 49.7rem;
	border-radius: 1.5rem;
	box-shadow: 0 2.5rem 2.5rem 0 rgba(0, 0, 0, 0.05);
}

.main-image {
	height: 28.8rem;
	width: 28.8rem;
	margin: 1.5rem auto 2.5rem;
	border-radius: 1rem;
}

.main-text-1 {
	font-size: 2.2rem;
	font-weight: 700;
	text-align: center;
	padding: 0 3rem;
	margin-bottom: 1.5rem;
}
.main-text-2 {
	color: var(--grayishBlue);
	font-weight: 400;
	text-align: center;
	padding: 0 3rem;
	margin-bottom: 1rem;
}

.attribution {
	font-size: 1rem;
	font-weight: 200;
	text-align: center;
	padding: 0 2.5rem;
	margin-top: -3rem;
}

a:link,
a:visited {
	text-decoration: none;
}
